body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero {
    background-color: rgb(252, 255, 252);
}


.showHamburger{
    opacity: 1;
    pointer-events: auto;
}
.hideHamburger{
    opacity: 0;
    pointer-events: none;
}
.showNavModal {
    opacity: 1;
    pointer-events: auto;
}

.hideNavModal {
    opacity: 0;
    pointer-events: none;
}











@media (min-width: 1280px) {
    .whyScissor {
        width: 1400px;
    }
        .accordion {
            padding: 8px;
        }
}






@media (min-width: 1024px) {
    .whyScissor {
        width: 1250px;
    }
        
}




























@media only screen and (min-width: 350px){
.accordion {
        width: 90%;
    }
}





@media (min-width: 350px) {


    input::placeholder {
        font-size: 0.8rem;
    }
}