body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero {
    background-color: rgb(252, 255, 252);
}

.accordion {
    width: 1000px;
}














@media (min-width: 1280px) {
    .whyScissor {
        width: 1400px;
    }
}






@media (min-width: 1024px) {
    .whyScissor {
        width: 1250px;
    }

    .accordion {
        width: 850px;
    }

    .navModal {
        opacity: 0;
    }
        
}









@media screen and (max-width: 1023px) {
    .navMenu {
        opacity: 0;
    }

    .openNav,
    .closeNav {
        opacity: 1;
    }

    .hideOpenNav,
    .hideCloseNav {
        opacity: 0;
    }
        
}








@media (min-width: 768px) {
    .accordion {
        width: 700px;
    }
        

}









@media (min-width: 640px) {
    .accordion {
        width: 600px;
    }

}








@media only screen and (min-width: 350px) and (max-width: 639px){
.accordion {
        width: 100%;
        padding: 10px;
    }
}





@media (min-width: 350px) {


    input::placeholder {
        font-size: 0.8rem;
    }
}