body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero {
    background-color: rgb(252, 255, 252);
}
 input {
     outline: none;
 }
 select{
    outline: none;
 }

.showHamburger{
    opacity: 1;
    pointer-events: auto;
}
.hideHamburger{
    opacity: 0;
    pointer-events: none;
}
.showNavModal {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.hideNavModal {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.accordion {
    width: 90%;
}

@media (min-width: 1280px) {
    .whyScissor {
        width: 1400px;
    }
        .accordion {
            padding: 8px;
        }
}
/* @media (min-width: 1024px) {
    input::placeholder{

    }
}
@media (min-width: 768px) {
    input::placeholder {}
}
@media (min-width: 768px) {
    input::placeholder {}
}

@media (min-width: 640px) {
    input::placeholder {}
}
@media (min-width: 450px) {
    input::placeholder {}
}
@media (min-width: 350px) {
} */























@media (min-width: 640px) {  }


@media (min-width: 350px) {
    input::placeholder {
        font-size: 0.8rem;
    }
}